.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 40px;

  @media (max-width: rem($mobileMedium)) {
    column-gap: 15px;
  }

  @media (max-width: rem($mobileSmall)) {
    flex-direction: column;
    row-gap: 22px;
    align-items: center;
  }
}

.link {
  color: $whiteColor;
  padding: 6px 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;

  @media (max-width: rem($mobileSmall)) {
    color: $brandColor;
    padding: 8px 0;
    font-size: 20px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: $whiteColor;
    transition:
      left 0.3s,
      width 0.3s;

    @media (max-width: rem($mobileSmall)) {
      background-color: $brandColor;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        left: 0;
        width: 100%;
      }
    }
  }
  &:focus {
    &::before {
      left: 0;
      width: 100%;
    }
  }
}
