$fontFamily: 'Inter', sans-serif;
$fontSize: 16;

// Colors
$mainColor: #222831;
$bgColor: #eee;
$brandColor: #00adb5;
$whiteColor: #fff;
$errorColor: #ff3333;

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$minWidth: 320;
$maxWidth: 1230;
$maxWidthContainer: 1230;
$containerPadding: 15;
$containerPaddings: 30 * 2;

// First breakpoint trigger width
$containerWidth: $maxWidthContainer + $containerPaddings;

// Breakpoints
$pc: $containerWidth;

$tabletAfter: 992.02;
$tablet: 992;
$tabletBefore: 991.98;

$mobileAfter: 768.02;
$mobile: 768;
$mobileBefore: 767.98;

$mobileMediumAfter: 600.02;
$mobileMedium: 600;
$mobileMediumBefore: 599.98;

$mobileSmallAfter: 480.02;
$mobileSmall: 480;
$mobileSmallBefore: 479.98;

$adaptiveType: 1;

$minMaxWidthType: $minWidth;
@if $adaptiveType == 2 {
  $minMaxWidthType: $maxWidth;
}

// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
