.body {
  p {
    line-height: 1.5;
    &::first-letter {
      text-transform: uppercase;
    }
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @include adaptiveValue('font-size', 17, 15);
  }

  img {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
