.contentWrapper {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: rem($mobile)) {
    padding: 0;
  }
}

.contentBody {
  background-color: $whiteColor;
  border-radius: 6px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
  padding-bottom: 30px;
  @include adaptiveValue('padding-top', 30, 20);
  @include adaptiveValue('padding-left', 30, 15, $pc, $mobile);
  @include adaptiveValue('padding-right', 30, 15, $pc, $mobile);

  @media (max-width: rem($mobile)) {
    border-radius: 0;
  }
}
