.link {
  color: $whiteColor;
  padding: 6px 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;

  @media (max-width: rem($mobileSmall)) {
    font-size: 17px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: $whiteColor;
    transition:
      left 0.3s,
      width 0.3s;
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        left: 0;
        width: 100%;
      }
    }
  }
  &:focus {
    &::before {
      left: 0;
      width: 100%;
    }
  }
}
