.header {
  min-height: 68px;
  background-color: $brandColor;
  display: flex;
  align-items: center;

  @media (max-width: rem($mobileSmall)) {
    @include adaptiveValue('min-height', 68, 62, $mobileSmall);
  }
}
