.footer {
  min-height: 68px;
  background-color: $brandColor;
  display: flex;
  align-items: center;

  @media (max-width: rem($mobileSmall)) {
    min-height: 62px;
  }
}

.footerWrap {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy {
  color: $whiteColor;
  font-size: 18px;
  text-align: center;
  line-height: 1.4;

  @media (max-width: rem($mobileSmall)) {
    font-size: 17px;
  }
}

.link {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: $whiteColor;
    transition: opacity 0.15s;
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        opacity: 0;
      }
    }
  }
  &:focus {
    &::after {
      opacity: 0;
    }
  }
}
