.title {
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
  &::first-letter {
    text-transform: uppercase;
  }
  @include adaptiveValue('font-size', 36, 28);
}

.body {
  p {
    line-height: 1.5;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @include adaptiveValue('font-size', 17, 15);
  }
}
